.dhxvlt_rowsel {background: url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/rowsel.gif);}
#dhxvlt_icoremove {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/delete.gif) no-repeat;}
.dhxvlt_rbtn3 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn3.gif) no-repeat;}
.dhxvlt_rbtn2 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn2.gif) repeat-x;}
.dhxvlt_rbtn1 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn1.gif) no-repeat;}
.dhxvlt_lbtn3 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn3.gif) no-repeat;}
.dhxvlt_lbtn2 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn2.gif) repeat-x;}
.dhxvlt_lbtn1 {background:url(/js/dhtmlx_30/skins/imgs/dhxvault_dhx_skyblue/btn1.gif) no-repeat;}


.dhxvlt_panel2border { border-color: #E6EBDD; }
.dhxvlt_panelborder { border: 0px; }
.dhxvlt_panelbg { background-color: #fff; }

.btnAddBtn { width: 120px; }